.container {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.container .container_content {
    margin-top: 200px;
    position: relative;
    /*top: 50%;*/
    /*transform: translateX(-50%);*/
    /*left: 50%;*/
}



