@import "../../styles/normalStyle.css";

.item_container {
    height: 100px;
    background-color: #FFFFFF;
    padding: 10px 16px;
}

.item_img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.item_content {
    height: 100px;
    position: absolute;
    margin-left: 120px;
}
.item_label{
    display: inline;
}
